#sec1{
    background-color: #E9ECEF;

    
    text-align: center;
}
.jumbotron{
    background-color: #FFFFFF;
   
}
.jumbotron:hover{
    background-color: #b9e9f8;
   
}
#jub45{
    font-family: 'Playfair Display', serif;
}
img{
    margin: auto;
}
abbr{
    font-family: serif;
    font-size: 30px;
    text-decoration: none;
    
}
#body{
   background-color: #E9ECEF;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin: auto;
    
}

.text{
    font-size: 30px;
    align-items: center;
    font-weight: bold;
}

.row{
    align-items: center;
    justify-content: center;
}
.col-md-12{
    margin: auto;
}
.sec56last{
    background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
    
}

footer{
    font-size: xx-large;
}
#hom45{
    background-color: #F4F7FC;
}

.navbar{
    background-color: rgba(198, 218, 255, 0.658)!important;
}

/* nav logo imagej */
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }